/* ----- toàn trang ----- */
/* LƯU Ý: mục này ảnh hưởng đến cả trang web, mọi người đọc kĩ nha
cái nào có thể tái sử dụng cho phần của ae thì chỉ cần đặt tên id/class cho đúng
-- Trọng Hiếu */

/* các font chữ */

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: Oswald-Bold;
    src: url(../fonts/Oswald-DemiBold.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.otf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins-Bold.otf);
}

/* hết font chữ */

body {
    /* loại bỏ viền xung quanh */
    margin: 0;
}

img {
    /* giới hạn kích cỡ img trong div */
    max-width: 100%;
}

/* nếu ae dùng thêm heading mới (vd: h1), thêm kèm dấu phẩy (vd: p,h1,h2,h4)
cái này để loại bỏ mép ngoài */
p,h2,h4 {
    margin: 0;
}

a {
    text-decoration: none;
}

.circle {
    /* tạo hình tròn */
    border-radius: 50%;
}

/* các nút bấm cuối từng phần, vd: view more
class="button" */

.button {
    position: relative;
    display: inline-block;
    height: 20px;
    padding: 16px 38px;
    border: 4px solid #ab8b65;
    border-radius: 4px;
    font-family: Poppins-Bold;
    font-size: 13px;
    color: #ab8b65;
    text-transform: uppercase;
    transition: .3s;
}

.button:hover {color: white;background: #ab8b65;}

.button p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

/* flex tạo bố cục canh giữa toàn bộ, bố trí giống như dạng bảng
div lớn bên ngoài class="flex-center", chứa các div con class="flex-center-in"
kích thước của từng div được quy định riêng */

.flex-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-center-in {
    display: inline-block;
}

/* tạo animation khi thanh cuộn kéo tới, sử dụng javascript
ví dụ: muốn dùng animation "go-up", đặt class="on-scroll go-up"
mọi animation mới ae tạo trong phần này nha
cách tạo: .animation.tên-animation {} và @keyframes tên-animation {} */

.on-scroll {
    visibility: hidden;
}

.animation {
    visibility: visible;
}

.animation.fading {
    animation: fading 10s infinite;
}

@keyframes fading {
    0% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.animation.text1-up {
    animation: text1-up 10s infinite;
}

@keyframes text1-up {
    0% {transform: translateY(20%);opacity: 0;}
    10% {transform: none;opacity: 1;}
    90% {transform: none;opacity: 1;}
    100% {transform: translateY(20%);opacity: 0;}
}

.animation.text2-up {
    animation: text2-up 10s infinite;
}

@keyframes text2-up {
    0% {transform: translateY(10%); opacity: 0;}
    10% {transform: translateY(10%); opacity: 0;}
    20% {transform: none;opacity: 1;}
    90% {transform: none;opacity: 1;}
    100% {transform: translateY(10%);opacity: 0;}
}

.animation.text3 {
    animation: text3 10s infinite;
}

@keyframes text3 {
    0% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.animation.text4-up {
    animation: text4-up 10s infinite;
}

@keyframes text4-up {
    0% {transform: translateY(100%); opacity: 0;}
    20% {transform: translateY(100%); opacity: 0;}
    30% {transform: none;opacity: 1;}
    90% {transform: none;opacity: 1;}
    100% {transform: none;opacity: 0;}
}

@keyframes arrow-fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes arrow-fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

.animation.go-up {
    animation: go-up 2s 1;
}

@keyframes go-up {
    from {opacity: 0;transform: translateY(100%);}
    to {opacity: 1;}
}

.animation.draw-line {
    animation: draw-line 2s 1;
}

@keyframes draw-line {
    0% {width: 0;}
    50% {width: 0;}
    100% {width: 135px;}
}

/* heading của từng phần */

.custom-heading {
    max-width: 540px;
    min-height: 100px;
    font-family: Poppins;
    font-size: 16px;
    color: gray;
    position: relative;
    margin-bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

h2 {
    font-family: Oswald-Bold;
    font-size: 35px;
    color: #212529;
}

h4 {
    font-family: Oswald;
    font-size: 24px;
    color: #212529;
}

.separator-line {
    width: 135px;
    height: 4px;
    background: #ab8b65;
    display: inline-block;
    margin: 16px 0 22px 0;
}

/* ----- hết toàn trang ----- */

/* banner */

#banner {
    position: relative;
    height: 686px;
    background: #212529;
    overflow: hidden;
}

#banner:hover .banner-arrow {
    visibility: visible;
    animation: arrow-fade-in .3s 1;
}

.banner-img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#banner img {
    max-width: none;
}

.banner-arrow {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    animation: arrow-fade-out .3s 1;
    transition: .3s;
}

.banner-arrow.point-left {
    left: 20px;
}

.banner-arrow.point-right {
    right: 20px;
}

.banner-arrow svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    stroke: white;
    stroke-width: 1.5px;
}

.banner-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
}

.banner-text .line1 {
    font-family: Poppins;
    font-size: 17px;
    color: #ab8b65;
    text-transform: uppercase;
}

.banner-text .line2 {
    font-family: Oswald-Bold;
    font-size: 53px;
    color: white;
    text-transform: uppercase;
}

.banner-text .line3 {
    width: 100%;
    font-family: Poppins;
    font-size: 15px;
    color: white;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

/* header */

#header {
    position: relative;
    width: 100%;
    height: 122px;
    background: #212529;
}

/* about */

#about {
    position: relative;
    width: 100%;
    height: 476px;
    background: white;
}

/* reservations */

#reservations {
    position: relative;
    width: 100%;
    height: 472px;
    background: #1c790d;
}

/* menu */

#menu {
    position: relative;
    width: 100%;
    height: 1033px;
    background: white;
}

/* photos */

#photos {
    position: relative;
    width: 100%;
    height: 211px;
    background: #f9fb10;
}

/* ---------- phần của anh Hiếu ---------- */

/* news */

#news {
    position: relative;
    width: 100%;
    min-height: 168px;
    margin: 110px 0;
    background: white;
}

.news-content {
    max-width: 1140px;
    min-height: 316px;
    margin-bottom: 50px;
}

.news-item {
    width: 254px;
    background: #F6F3EF;
    padding: 40px;
    margin: 15px;
    line-height: 25px;
}

/* locations */

#locations {
    position: relative;
    width: 100%;
    height: 600px;
    /* background: #1c790d; */
}

/* footer */

#footer {
    position: relative;
    width: 100%;
    /* min-height: 490px; */
    background: #1d2127;
    padding-top: 96px;
}

/* footer logo */

#footer-image {
    position: relative;
    width: 195px;
    height: 132px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 64px;
}

/* khung địa chỉ, thông in liên lạc */

#footer-info {
    max-width: 90%;
    min-height: 150px;
}

/* từng cột trong khung */

.footer-address {
    max-width: 210px;
    padding: 0 80px;
    text-align: center;
}

.address-city {
    font-family: Oswald-Bold;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

.address-phone {
    font-family: Poppins;
    font-size: 13px;
    overflow: hidden;
}

/* biểu tượng share (facebook, twitter, linkedin...) */

.address-share {
    padding-top: 5px;
}

.share {
    width: 30px;
    height: 30px;
    position: relative;
    /* đặt trên 1 dòng */
    display: inline-block;
    /* không hiện hình tròn khi không trỏ chuột */
    background: transparent;
    transition: .3s;
}

/* hiện hình tròn khi trỏ chuột */
.fb:hover {background: #3b5998;}
.tw:hover {background: #00acee;}
.in:hover {background: #0e76a8;}

/* biểu tượng facebook, twitter, linkedin... */
.share svg {
    position: absolute;
    top: 7px;
    left: 30%;
}

/* footer copyright */

#footer-copyright {
    position: relative;
    max-width: 100%;
    height: 76px;
}

p.copyright {
    font-family: Poppins;
    font-size: 12px;
    color: gray;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

/* ---------- hết phần của anh Hiếu ---------- */