/* ----- toàn trang ----- */
/* LƯU Ý: mục này ảnh hưởng đến cả trang web, mọi người đọc kĩ nha
cái nào có thể tái sử dụng cho phần của ae thì chỉ cần đặt tên id/class cho đúng
-- Trọng Hiếu */

/* các font chữ */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: Oswald-Bold;
    src: url(../fonts/Oswald-DemiBold.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.otf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins-Bold.otf);
}

/* hết font chữ */

body {
    /* loại bỏ viền xung quanh */
    margin: 0;
}
a {
    text-decoration: none !important;
}

img {
    /* giới hạn kích cỡ img trong div */
    max-width: 100%;
    max-height: 100%;
}

/* nếu ae dùng thêm heading mới (vd: h1), thêm kèm dấu phẩy (vd: p,h1,h2,h4)
cái này để loại bỏ mép ngoài */
p,h2,h4 {
    margin: 0;
}

a {
    text-decoration: none;
}

.circle {
    /* tạo hình tròn */
    border-radius: 50%;
}

/* các nút bấm cuối từng phần, vd: view more
class="button" */

.button {
    position: relative;
    display: inline-block;
    height: 57px;
    padding: 16px 38px;
    border: 4px solid #ab8b65;
    border-radius: 4px;
    font-family: Poppins-Bold;
    font-size: 13px;
    color: #ab8b65;
    text-transform: uppercase;
    transition: .3s;
}

.button:hover {color: white;background: #ab8b65;}

.button p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

/* flex tạo bố cục canh giữa toàn bộ, bố trí giống như dạng bảng
div lớn bên ngoài class="flex-center", chứa các div con class="flex-center-in"
kích thước của từng div được quy định riêng */

.flex-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-center-in {
    display: inline-block;
}

/* tạo animation khi thanh cuộn kéo tới, sử dụng javascript
ví dụ: muốn dùng animation "go-up", đặt class="on-scroll go-up"
mọi animation mới ae tạo trong phần này nha
cách tạo: .animation.tên-animation {} và @keyframes tên-animation {} */

.on-scroll {
    visibility: hidden;
}

.animation {
    visibility: visible;
}

.animation.fading {
    animation: fading 10s infinite;
}

@keyframes fading {
    0% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.animation.text1-up {
    animation: text1-up 10s infinite;
}

@keyframes text1-up {
    0% {transform: translateY(20%);opacity: 0;}
    10% {transform: none;opacity: 1;}
    90% {transform: none;opacity: 1;}
    100% {transform: translateY(20%);opacity: 0;}
}

.animation.text2-up {
    animation: text2-up 10s infinite;
}

@keyframes text2-up {
    0% {transform: translateY(10%); opacity: 0;}
    10% {transform: translateY(10%); opacity: 0;}
    20% {transform: none;opacity: 1;}
    90% {transform: none;opacity: 1;}
    100% {transform: translateY(10%);opacity: 0;}
}

.animation.text3 {
    animation: text3 10s infinite;
}

@keyframes text3 {
    0% {opacity: 0;}
    1% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.animation.text4-up {
    animation: text4-up 10s infinite;
}

@keyframes text4-up {
    0% {transform: translateY(100%); opacity: 0;}
    20% {transform: translateY(100%); opacity: 0;}
    30% {transform: none;opacity: 1;}
    90% {transform: none;opacity: 1;}
    100% {transform: none;opacity: 0;}
}

@keyframes arrow-fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes arrow-fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

.animation.go-up {
    animation: go-up 2s 1;
}

@keyframes go-up {
    from {opacity: 0;transform: translateY(100%);}
    to {opacity: 1;}
}

.animation.draw-line {
    animation: draw-line 2s 1;
}

@keyframes draw-line {
    0% {width: 0;}
    50% {width: 0;}
    100% {width: 135px;}
}

/* heading của từng phần */

.custom-heading {
    max-width: 540px;
    min-height: 100px;
    font-family: Poppins;
    font-size: 16px;
    color: gray;
    position: relative;
    margin-bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

h2 {
    font-family: Oswald-Bold;
    font-size: 35px;
    color: #212529;
}

h4 {
    font-family: Oswald;
    font-size: 24px;
    color: #212529;
}

.separator-line {
    width: 135px;
    height: 4px;
    background: #ab8b65;
    display: inline-block;
    margin: 16px 0 22px 0;
}

/* ----- hết toàn trang ----- */

/* banner */

#banner {
    position: relative;
    height: 686px;
    background: #212529;
    overflow: hidden;
}

#banner:hover .banner-arrow {
    visibility: visible;
    animation: arrow-fade-in .3s 1;
}

.banner-img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#banner img {
    max-width: none;
}

.banner-arrow {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    animation: arrow-fade-out .3s 1;
    transition: .3s;
}

.banner-arrow.point-left {
    left: 20px;
}

.banner-arrow.point-right {
    right: 20px;
}

.banner-arrow svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    stroke: white;
    stroke-width: 1.5px;
}

.banner-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
}

.banner-text .line1 {
    font-family: Poppins;
    font-size: 17px;
    color: #ab8b65;
    text-transform: uppercase;
}

.banner-text .line2 {
    font-family: Oswald-Bold;
    font-size: 53px;
    color: white;
    text-transform: uppercase;
}

.banner-text .line3 {
    width: 100%;
    font-family: Poppins;
    font-size: 15px;
    color: white;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

/* header */

#header {
    width: 100%;
    background: #212529;
    justify-content: center;
    display: flex;
    z-index: 2;
}

.header-still {
    position: relative;
    max-height: 122px;
}

.header-scroll {
    position: fixed;
    top: 0;
    max-height: 92px;
}

.header-item,#header-logo {
    padding: 0 16px;
    white-space: nowrap;
}

.header-vertical {
    align-self: center;
}

#logo-img {
    min-width: 148px;
}

.logo-still {
    max-height: 170px;
}

.logo-scroll {
    max-height: 130px;
}

#header a {
    font-family: Oswald;
    font-size: 15px;
    text-transform: uppercase;
}

#header a.white {
    color: white;
}
#header a.brown {
    color: #ab8b65;
}

#header a:hover {
    color: #ab8b65;
}

/* about */

#about {
    position: relative;
    width: 100%;
    background: white;
}
.content_about{
    padding: 20px 10px 0 10px;
}
.space{
    margin: 3%;
}
#about_img{
    padding-top: 20px;
}

#row_about{
    padding: 110px 0; 
}

#border_about{
    background: #AB8B65;
    margin-top: 20px;
    height: 4px;
    width: 30%;
}
#btn_about{
    margin-left: 72px;
}

.p1{
    color: #777777;
    font-size: 16.8px;
    line-height: 1.5;
    padding-top: 20px;
    font-family: Poppins;
}
.p2{
    color: rgba(119, 119, 119, 0.8);
    font-size: 14px;
    font-family: Poppins;
    padding: 20px 0;
}


/* menu */

#menu {
    position: relative;
    width: 100%;
    padding-bottom: 110px;
}


/* ---------- phần của anh Hiếu ---------- */

/* news */

#news {
    position: relative;
    width: 100%;
    min-height: 168px;
    padding: 110px 0;
    background: white;
}

.news-content {
    max-width: 1140px;
    min-height: 316px;
    margin-bottom: 50px;
}

.news-item {
    background: #F6F3EF;
    padding: 40px 48px;
    line-height: 25px;
}
#btn-news{
    padding: 3px 0 3px 0;
    position: relative;
    margin: 35px 0 60px;

}
#btn-news a{
    text-decoration: none;
}
.btn-style{
    padding: 25px 35px 25px 35px; 
}
/* locations */

#map {
    padding-top: 60px;
    width: 100%;
    height: 600px;
    /* background: #1c790d; */
}

/* footer */

#footer {
    position: relative;
    width: 100%;
    /* min-height: 490px; */
    background: #1d2127;
    padding-top: 96px;
}

/* footer logo */

#footer-image {
    position: relative;
    width: 195px;
    height: 132px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 64px;
}

/* khung địa chỉ, thông in liên lạc */


/* từng cột trong khung */

.footer-address {
    max-width: 210px;
    padding: 0 80px;
    text-align: center;
}

.address-city {
    margin-bottom: 4px;
    font-family: Oswald-Bold;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

.address-phone {
    font-family: Poppins;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    margin: -3px 24px 24px;
    padding: 0 48px;
    line-height: 1.4;
}

/* biểu tượng share (facebook, twitter, linkedin...) */

.share {
    width: 30px;
    height: 30px;
    position: relative;
    /* đặt trên 1 dòng */
    display: inline-block;
    /* không hiện hình tròn khi không trỏ chuột */
    background: transparent;
    transition: .3s;
}

/* hiện hình tròn khi trỏ chuột */
.fb:hover {background: #3b5998;}
.tw:hover {background: #00acee;}
.in:hover {background: #0e76a8;}

/* biểu tượng facebook, twitter, linkedin... */
.share svg {
    position: absolute;
    top: 7px;
    left: 30%;
}

/* footer copyright */

#footer-copyright {
    position: relative;
    max-width: 100%;
    height: 76px;
}

p.copyright {
    font-family: Poppins;
    font-size: 12px;
    color: gray;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

/* ---------- hết phần của anh Hiếu ---------- */

/* custome bootstrap */
.container{
    margin: 0 auto;
    padding: 0 auto;
}

/* CSS phan menu */

#menu-bar{
    padding: 110px 0 110px 0;
    margin: 0;
    background: #F7F7F7;
}
#our_menu{
    padding-top: 110px;
    text-align: center;
}
#our_menu h2{
    color: #212529;
    font-family: Oswald-Bold;
    font-size: 35px;
    font-weight: bold;
}
#our_menu hr{
    background: #AB8B65;
    height: 4px;
    width: 25%;
}
#our_menu p{
    color: #777777;
    font-size: 16.8px;
    font-family: 'Poppins', sans-serif;
}

.item .info_item{
    display: flex;
    white-space: nowrap;
    width: auto;
}
.info_item h3{
    font-size: 21px;
    margin-top: 7px;
    font-family: 'Oswald', sans-serif;
}
.info_item p{
    color: #212529;
    font-size: 20.8px;
    font-family: 'Playfair Display',sans-serif ;
    font-weight: 700;
}

.info_item small{
    font-weight: 700;
    font-size: 12.48px;
    color: #212529;
    font-family: 'Playfair Display',sans-serif ;
}

.borderdash{
    width: 100%;
    border-bottom: dashed 1px #777;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.detail{
    font-family: Poppins;
    font-size: 14px;
    color: #777777;
    padding-bottom: 5px;
}

/* css photo */
/* photos */

#photos {
    margin: 0 auto;
    position: relative;
}
.item {
    position: relative;
  }
.item i {
    display: none;
    font-size: 4rem;
    color: #FFF;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.item a {
    display: block;
    width: 100%;
  }
  .item a:hover:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .item a:hover i {
    display: block;
    z-index: 2;
  }

/* css reservations */
/* reservations */

#reservations {
    position: relative;
    width: 100%;
    background: url(../img/coffee-background-1.jpg );
    background-repeat: no-repeat fixed center;

}

.wraper1{
    line-height: 1.2;
    text-align: center;
    padding: 48px 20px 48px 150px;
}
.wraper1 h2{
    font-size: 32px;
    font-family: Oswald;
    color: rgba(255, 255, 255);
    font-weight: 700;
}
.wraper1 p{
    font-size: 14px;
    color: rgba(255,255,255,0.7);
    font-family: Poppins;
}
.wraper1 a{
    text-decoration: inherit;
    outline: none;
    font-family: Poppins;
    color: #AB8B64;
    font-weight: 1000;

}
.wraper1 a:hover{
    color: #AB8B64;
}
.wraper2{
    padding: 40px;
    line-height: 1.8;
    text-align: center;
}
.wraper2 h2{
    font-size: 35px;
    font-family: Oswald;
    color: rgba(255, 255, 255);
    font-weight: 700;
}
.wraper2 p{
    font-size: 14px;
    color: rgba(255,255,255,0.7);
    font-family: Poppins;
}
#best_color{
    border-radius: 5%;
    background: rgba(38, 41, 44, 0.5);
}
#content_res{
    padding: 110px 0 110px 0;
}